@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700);
/*
COLORS
Brown:       rgba(46,21,16,1);
Light Brown:   rgba(117,52,38,1);
Red:       rgba(180,54,58,1);
Pink:        rgba(185,88,95,1);
Orange:      rgba(206,127,64,1);
Yellow:      rgba(216,221,111,1);
Green:       rgba(177,214,107,1);
Blue-Green:    rgba(85,166,142,1);
Blue:        rgba(27,97,114,1);
White:       rgba(256,256,256,1);
Black:       rgba(0,0,0,1);
*/
/*--------------------------------General Code---------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);
*{
box-sizing:border-box;
transition:all 0.15s;
-webkit-transition:all 0.15s;
-moz-transition:all 0.15s;
}
body{
font-size: 18px;
font-family:'Open Sans', Source Sans Pro, helvetica, sans-serif;
line-height:24px;
line-height:1.5rem;
background-color:#999;
}
h2{
text-transform:uppercase;
font-weight:900;
color:rgba(256,256,256,1);
font-size:64px;
font-size:4rem;
line-height:64px;
line-height:4rem;
}
.container{
margin:0 auto;
display:block;
width:860px;
height:100%;
}
.section_header{
background:url("../img/white.png") repeat-x 0 center;
text-align:center;
width:90%;
margin:0 auto;
padding:50px 0px;
}
.mob{
  display:none;
  z-index: 999999999;
}
.section_header.green-line{
background:url("../img/green.png") repeat-x 0 center;
}
.section_header span{
padding:0 50px;
}
.location_mapSection .section_header span{
background-color:rgba(185,88,95,1);
}
.location_story .section_header span{
background-color:rgba(85,166,142,1);
}
.flex{
width:100%;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
display:flex;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
    -ms-flex-pack:justify;
        justify-content:space-between;
-webkit-box-orient:horizontal;
-webkit-box-direction:normal;
-webkit-flex-direction:row;
    -ms-flex-direction:row;
        flex-direction:row;
-webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;
-webkit-box-align:center;
-webkit-align-items:center;
    -ms-flex-align:center;
        align-items:center;
}
.flex-end{
-webkit-box-align:end;
-webkit-align-items:flex-end;
    -ms-flex-align:end;
        align-items:flex-end;
}
.flex-center{
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
}
.flex-start{
-webkit-box-align:start;
-webkit-align-items:flex-start;
    -ms-flex-align:start;
        align-items:flex-start;
}
.space-around{
-webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}
.text-center{
text-align:center;
margin-top:15px;
}
.vertical-align{
position:relative;
top:50%;
/*transform*/
-webkit-transform:translateY(-50%);
        transform:translateY(-50%);
}
h3{
text-transform:uppercase;
font-weight:100;
color:rgba(256,256,256,1);
font-size:48px;
font-size:3rem;
line-height:48px;
line-height:3rem;
}
p{
padding:10px 0;
color:rgba(256,256,256,1);
font-weight:200;
}
a{
color:rgba(255,255,255,1);
text-decoration:none;
text-transform:uppercase;
font-weight:700;
letter-spacing:3px;
}
.red{
background-color:rgba(180,54,58,1);
}
.show-little{
display:none;
}
.show-big{
width:125% !important;
}
/*--------------------------------header---------------------------------*/

.home{
margin:0 50px;
}
.home-header{
border-bottom:2px solid #fff;
padding:20px 0;
}
.home-header li{
list-style:none;
padding:0 50px;
color:#fff;
z-index: 200;
}
.home-header a[href="index.html"]:hover{
/*transform*/
-webkit-transform:translateY(5px);
        transform:translateY(5px);
opacity:0.8;
filter:alpha(opacity=80);
}
.not-home{
background-color:rgba(46,21,16,1);
border-bottom:4px solid rgba(0,0,0,1);
padding:0 50px;
}
.not-home .home-header{
border-bottom:none;
}
header a{
color:rgba(255,255,255,1);
text-decoration:none;
text-transform:uppercase;
font-weight:700;
letter-spacing:3px;
}
header a:hover{
color:rgba(177,214,107,1);
}

    .home-header nav {
      z-index: 200;
    }

    a.mobile_nav {
        display: none;
    }

    .mobile_nav {
      width: 40px;
      height: 40px;
    }


/*--------------------------------footer---------------------------------*/
footer nav li{
list-style:none;
color:#fff;
display:block;
}
footer>div{
width:85%;
margin:0 auto;
}
footer{
background-color:rgba(46,21,16,1);
border-top:4px solid rgba(0,0,0,1);
padding:50px 25px 25px;
color:#fff;
}
footer h3{
font-size:32px;
font-size:2rem;
padding-bottom:15px;
margin-bottom:15px;
border-bottom:1px solid rgba(177,214,107,1);
display:inline-block;
line-height:32px;
line-height:2rem;
}
footer a{
color:rgba(255,255,255,1);
text-decoration:none;
text-transform:uppercase;
font-weight:700;
letter-spacing:3px;
}
a:hover{
color:rgba(177,214,107,1);
}
footer .social{
width:160px;
}
footer .social img:hover{
opacity:0.5;
filter:alpha(opacity=50);
}
/*--------------------------------home---------------------------------*/
canvas{
  position: fixed;
  top: 0;
  left:50%;
  z-index: 1;
  opacity: .5;
}
.home-banner{
background: url(../img/header-banner.png) no-repeat center center fixed;
background-size: cover;
height:650px;
}
.home-banner h3{
font-size:64px;
font-size:4rem;
line-height:67px;
line-height:4.2rem;
}
.home-banner h4{
font-weight:700;
font-size:40px;
font-size:2.5rem;
line-height:43px;
line-height:2.7rem;
text-transform:uppercase;
color:rgba(255,255,255,1);
}
.banner-text{
margin-left:50px;
/*transform*/
-webkit-transform:translateY(-70%);
        transform:translateY(-70%);
}
.home-content{
padding:50px;
min-height:300px;
background-color:rgba(85,166,142,1);
z-index: 9999;
}
.bold{
  font-weight: 700;
}
.home-content-inner{
  width:80%;
  margin:0 auto 25px;
}
.home-content-inner img{
  width:100px;
  margin-bottom:25px;
}
.home-content-inner>div{
  width:30%;
  margin-left: 3%;
  padding-right: 4.5%;
  text-align: center;
  border-right: 2px solid #fff;
}
.home-content-inner div:last-child{
  border-right: none;
  padding-right:5%;
}
.home-content-inner h4{
  font-weight: bold;
  font-size: 1.15em;
  line-height: 1.15em;
  text-transform: uppercase;
  letter-spacing: 4px;
  color:#fff;
}
.home-content-inner p{
  color:#000;
  margin: 15px 0 30px;
  font-weight: 400;
}
.home-content-inner a{
  border: 3px solid #fff;
  padding: 10px 20px;
}
.home-content-inner a:hover{
  border: 3px solid rgba(177,214,107,1);
}
.store-hours h3{
color:rgba(46,21,16,1);
}
.store-hours div{
margin:40px 25px;
font-size:28px;
font-size:1.8rem;
line-height:32px;
line-height:2rem;
}
.store-hours div h4{
margin-bottom:15px;

}
/*--------------------------------Location---------------------------------*/
.location_mapSection{
width:100%;
background:rgba(185,88,95,1);
}
.location_mapSection hr{
width:90%;
position:relative;
top:95px;
z-index:1;
}
.location_contentContainer section{
display:-webkit-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
-webkit-flex-flow:row wrap;
-webkit-box-pack:justify;
-webkit-justify-content:space-between;
    -ms-flex-pack:justify;
        justify-content:space-between;
padding:0 0 50px 0;
}
.location_call{
position:relative;
background:url("../img/location-contact-bg-full.png") no-repeat center center fixed;
/*background-size*/
/*background-size*/
background-size:cover;
/*@@prefixmycss->No equivalent*/
height:500px;
text-align:center;
}
.location_call>div{
background-color:rgba(0,0,0,0.5);
height:100%;
width:100%;
}
.location_contact{
float:right;
}
.location_contact div{
border:3px solid rgba(255,255,255,1);
padding:20px 0;
font-size:32px;
font-size:2rem;
margin-top:35px;
}
.location_story{
background:rgba(85,166,142,1);
padding-bottom:50px;
}
.location_story h3{
padding-bottom:15px;
color:rgba(46,21,16,1);
}
.location_story p{
color:rgba(46,21,16,1);
}
.location_story img{
display:block;
margin:0 auto;
border:4px solid rgba(255,255,255,1);
margin-bottom:50px;
}
.location_map{
border:4px solid rgba(255,255,255,1);
border-bottom:none;
background-color:rgba(255,255,255,1);
}
/*--------------------------------blog---------------------------------*/

.blog{
background-color:rgba(177,214,107,1);
}
.blog .first{
padding: 0 0 30px;
}
.blog section{
padding: 50px 0 50px;
}
.dark h3{
padding-bottom: 15px;
color: rgba(46,21,16,1);
}
.dark p, .dark a{
color: rgba(46,21,16,1);
}
.blog p, .location_story p{
  text-indent:32px;
  text-indent: 2rem;
}
.blog img{
display: block;
margin: 0 auto;
border: 4px solid rgba(255,255,255,1);
margin-bottom: 50px;
}
/*--------------------------------store---------------------------------*/

.store{
background-color:rgba(180,54,58,1);
padding-bottom:50px;
}
.store img{
border:4px solid rgba(255,255,255,1);
margin-bottom:5px;
width:250px;
}
.store h4{
font-weight:900;
text-transform:uppercase;
}
.store_shirt a{
color:rgba(46,21,16,1);
line-height: 1.5em;
}
.store_shirt h4:last-child{
  letter-spacing: 0px;
}
.store_shirt a:hover{
color:rgba(177,214,107,1);
}
.store_shirt a img:hover{
border: 1px solid #fff;
}
.inline{
  display: inline;
}
/*--------------------------------Shirt---------------------------------*/

.width45{
width:40%;
}
.cart-button{
clear:both;
padding:25px 0;
border:4px solid rgba(255,255,255,1);
font-size:24px;
font-size:1.5rem;
margin:50px auto;
display:block;
text-align:center;
}
.store_shirt_info .price{
font-size:32px;
font-size:2rem;
margin:5px 0 15px;
font-style:italic;
font-weight:400;
}
.store_shirt_info a{
color:rgba(255,255,255,1);
}
.store_shirt_info a:hover{
border:4px solid rgba(177,214,107,1);
/*border-radius*/
border-radius:5px;
}
.store_shirt_info h3, .store_shirt_info p{
color:rgba(46,21,16,1);
}
.store_shirt_info select{
font-size:20px;
font-size:1.25rem;
padding:5px 20px 5px 5px;
/*border-radius*/
border-radius:5px;
margin-top:10px;
}
.store_shirt_info option{
margin-bottom:5px;
}
.store_shirt .store_thumb{
display:block;
margin:0 auto;
}
.store_other_shirts{
margin-top:50px;
}
.store_other_shirts img{
width:100px;
}
/*--------------------------------menu---------------------------------*/
.menu-row div{
width:35%;
margin-bottom:25px;
text-align:center;
}
.menu-row h4{
font-weight:600;
text-transform:uppercase;
color:rgba(46,21,16,1);
}
.menu-row p{
color:rgba(46,21,16,1);
}
.menu>section{
padding-bottom:25px;
}
.menu h3{
font-weight:700;
}
.green{
background-color: rgba(177,214,107,1);
}
.menu .white{
background-color:rgba(255,255,255,1);
}
.blue-green{
background-color:rgba(85,166,142,1);
}
.menu .white h3{
color:rgba(177,214,107,1);
}
.home-content .left, .home-content .store-hours{
width:50%;
text-align:center;
}
@media (max-width: 1200px){
.home-header li{
padding:0 25px;
}
footer>div{
width:90%;
}
.home-content-inner{
  width:100%;
  margin:0 auto 25px;
}

}
@media (max-width: 960px){ /*==========================960 Media Query================================================*/

  /* mobile nav hide */

      nav a.mobile_nav {
          display: none;
      }


  /* end mobile nav */

.home-header nav{
clear:both;
width:100%;
}
.home-header li{
padding:0;
margin-top:50px;
}
.home-header a{
display:block;
margin:0 auto;
}
footer>div{
width:100%;
}
footer nav{
  display:none;
}
footer>div>div>*{
width:33%;
text-align:center;
margin-bottom:50px;
}
footer .social{
display:block;
margin:0 auto;
}
.container{
width:90%;
}
.menu-row{
-webkit-justify-content:space-around;
    -ms-flex-pack:distribute;
        justify-content:space-around;
}
.location_contentContainer>section>div{
width:48%;
}
.location_map iframe{
width:100%;
}
.location_contact{
display:block;
margin:0 auto;
float:none;
}
.location_contact div{
width:350px;
display:block;
margin:35px auto 0;
}
.location_story img, .blog img{
width:90%;
margin-bottom:20px;
}
.store_shirt{
width:30%;
}
.store_shirt img, .store_shirt_single img{
width:100%;
}
.width45{
width:45%;
}
.shirt2{
  display: block;
}
.banner-text{
/*transform*/
-webkit-transform:translateY(-85%);
        transform:translateY(-85%);
}
.home-content h3{
font-size:40px;
font-size:2.5rem;
}
.home-content h4{
font-size:20px;
font-size:1.25rem;
}
.home-content{
padding:50px 15px;
}
.show-big{
width:110% !important;
}
.blog img, .location_story img{ 
  width: 70%;
}
.flex960{
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
.flex960>div:first-child{
  width:20%;
  margin: 0 auto;
}
.flex960>div:last-child{
  width:70%;
}
.home-content-inner{
  margin:0 auto 25px;
  display:block;
  width: 100%;
}
.home-content-inner img{
  width:100px;
  margin-bottom:25px;
}
.home-content-inner>div{
  width:100%;
  margin-left: 0;
  padding-right: 0;
  text-align: left;
  border:none;
  border-bottom:2px solid #fff;
  margin-bottom:50px;
  padding-bottom:65px;
}
.home-content-inner>div:last-child{
  margin-bottom: 0; padding-bottom: 0; border:none;
}
.home-content-inner div *{
  display:block;
}
.home-content-inner a{
  width:inherit;
  display:inline;
}
}
@media (max-width: 580px){  /*==========================580 Media Query================================================*/

/* mobile nav stuff */
    .mob{
      display:block;
    }

    .home-header a {
      margin-left: 2%;
      margin-right: 0;
    }

    #hamburger {
      width: 100%;
      height: 100%;
    }

    .nav-collapse {
      display: none;
    }

    .flex {
      flex wrap: none;
    }

/* end mobile nav stuff */
.flex960{
  display:block;
}
.flex960>div:first-child{
  width:100px;
  margin: 0 auto;
}
.flex960>div:last-child{
  width:100%;
  text-align: center;
}
.home-content-inner{
  margin:0 auto 25px;
  display:block;
  width: 100%;
}
.home-content-inner img{
  width:100px;
  margin-bottom:25px;
}
.home-content-inner>div{
  width:100%;
  margin-left: 0;
  padding-right: 0;
  text-align: left;
  border:none;
  border-bottom:2px solid #fff;
  margin-bottom:50px;
  padding-bottom:65px;
}
.home-content-inner>div:last-child{
  margin: 0; padding: 0; border:none;
}
.container{
width:90%;
}
h2{
font-size:48px;
font-size:3rem;
line-height:48px;
line-height:3rem;
}
.section_header{
width:95%;
}
.section_header span{
padding: 0 0 0 0;
line-height: 3.5rem;
}
.not-home{
padding:0 15px;
}
.home{
margin:0 15px;
}
.not-home img{
width:100%;
}
.home-header li{
width:50%;
text-align:center;
}
footer>div>div>*{
width:100%;
}
footer h3{
display:block;
}
.menu-row div{
width:90%;
margin-bottom:25px;
padding-bottom:20px;
border-bottom:1px solid rgba(46,21,16,0.45);
}
.menu-row p{
width:66%;
display:block;
margin:0 auto;
}
.location_contentContainer>section>div{
width:100%;
text-align:center;
}
.location_contentContainer>section>div:first-child{
margin-bottom:25px;
}
.location_contact div{
width:100%;
}
.location_story h3, .dark h3{
font-size:36px;
font-size:2.25rem;
line-height:36px;
line-height:2.25rem;
}
.store_shirt{
width:90%;
margin:0 auto;
display:block;
margin-bottom:50px;
}
.store_shirt:last-child{
margin-bottom:0;
}
.width45{
width:90%;
margin:0 auto;
}
.width45:first-child{
margin:0 auto 25px;
}
.show-big{
display:none;
}
.show-little{
display:block;
}
.store_other_shirts{
margin:0;
}
.store_other_shirts .store_shirt{
width:40%;
margin-bottom:15px;
}
.store_other_shirts .store_shirt:last-child{
margin-bottom:0;
}
.store_shirt_info h3{
font-size:40px;
font-size:2.5rem;
}
.store_shirt_info .price{
font-size:24px;
font-size:1.5rem;
}
.store_shirt_info select{
width:100%;
margin:25px 0;
}
.store_shirt_info .cart-button{
margin:10px 0 35px;
}
.banner-text h3{
font-size:48px;
font-size:3rem;
line-height:48px;
line-height:3rem;
}
.banner-text h4{
font-size:32px;
font-size:2rem;
line-height:32px;
line-height:2rem;
}
.banner-text{
margin-left:15px;
/*transform*/
-webkit-transform:translateY(-110%);
        transform:translateY(-110%);
}
.home-content>.flex{
-webkit-box-orient:vertical;
-webkit-box-direction:normal;
-webkit-flex-direction:column;
    -ms-flex-direction:column;
        flex-direction:column;
}
.home-content .store-hours{
border-left:none;
border-top:2px solid rgba(255,255,255,1);
width:100%;
padding-top:35px;
margin-top:15px;
height:inherit;
}
.home-content .left{
padding-right:0;
width:100%;
}
.store-hours div{
margin:50px 25px 0;
}
.store-hours div h4{
margin-bottom:0;
}
.hide560{
  display:none;
}
footer .social{
  width:66%;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
}
footer h3{
  width:90%;
  margin-left: auto;
  margin-right: auto;
}
}
@media (max-width:400px){  /*==========================400 Media Query================================================*/


/* mobile nav crap */ 
.nav-collapse {
  display: none;
}

#logo {
  width: 60%;
}

#logo img{
  width:100%;
}

/* end mobile nav crap */

.banner-text{
margin-left:15px;
/*transform*/
-webkit-transform:translateY(-90%);
        transform:translateY(-90%);
}
}
@media (max-width:310px){  /*==========================310 Media Query================================================*/
.banner-text{
margin-left:15px;
/*transform*/
-webkit-transform:translateY(-85%);
        transform:translateY(-85%);
}
}
